nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 4vw;
  /* margin: 2%; */
  width: 100%;
  z-index: 3;
  background: rgba(249, 238, 255, 0.85);
  height: 10vh;
}

article {
  height: 100vh;
}

#logo {
  font-size: 28px;
  transform: translateY(-30%);
  font-family: "pacifico", sans-serif;
  font-weight: 600;
}

.nav-link {
  color: var(--dark-purple100);
  position: relative;
}

.nav-link:hover {
  transition: 0.3s;
}

.nav-link::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--light-blue);
  position: absolute;
  left: 0;
  bottom: 1.3vh;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.nav-link:hover::after,
.nav-link.active::after {
  opacity: 1;
  width: 100%;
}

.left-links,
.right-links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 18px;
  gap: 30px;
}

.left-links {
  margin-left: 2vw;
}

.right-links {
  align-items: center;
}

#sign-up,
#create,
#profile,
#login {
  border-radius: 12px;
  color: white;
  margin-bottom: 1vh;
  box-shadow: var(--tag-shadow) !important;
}

#login:hover,
#profile:hover {
  background-color: var(--dark-purple70) !important;
  transition: 0.3s;
  transform: scale(1.05) !important;
}

#create:hover {
  background-color: var(--dark-purple70) !important;
  transition: 0.3s;
  transform: scale(1.08) !important;
}

#logout {
  font-size: 18px;
  padding: 14px 32px 16px 0px;
  background-color: transparent !important;
  margin-bottom: 1vh;
  color: var(--dark-purple100) !important;
}

#logout:hover {
  color: var(--dark-purple70) !important;
  transition: 0.3s;
}

#create {
  padding: 12px 14px 18px !important;
  min-height: 42px !important;
  font-size: 26px;
  font-weight: 500;
}

#sign-up {
  padding: 14px 36px 16px;
  font-size: 18px;
}

#login {
  padding: 14px 24px;
  font-size: 18px;
  margin-left: 2vw;
}

#profile {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px 18px;
  font-family: "quicksand", sans-serif;
  background-color: var(--dark-purple100);
  color: white;
  box-shadow: var(--tag-shadow);
  gap: 6px;
  max-width: 16vw;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main {
  height: 100vh;
  flex-grow: 1; /* Allow the main content to expand and fill the remaining space */
  /* padding-top: 50px; Adjust this value to provide space below the fixed header */
}

.footer {
  width: 100vw;
  padding: 10vh 4vw 6vh;
  font-family: "quicksand", sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: end;
  position: relative;
  z-index: 100;
}

.site-name {
  font-family: "pacifico", sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.foot-left,
.foot-right {
  color: var(--dark-purple70);
}
