nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 10px;
  margin: 2%;
  width: 96vw;
  z-index: 2;
}

article {
  height: 100vh;
}
.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
}
a,
button {
  margin-left: 10%;
}

main {
  height: 100vh;
  flex-grow: 1; /* Allow the main content to expand and fill the remaining space */
  /* padding-top: 50px; Adjust this value to provide space below the fixed header */
}
