.home-content {
  margin-top: 6vh;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.label {
  color: var(--dark-purple100);
  font-size: 11vw;
  font-weight: 400;
  transform: translateY(-5%);
}

.search-bar {
  align-items: center;
  display: flex;
  width: 70vw;
  background-color: white;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 7vh;
  z-index: 2;
}

.search-bar:hover {
  transform: scale(1.01);
  transition: 0.3s;
  background: #fbf8ff;
}

.tag-select {
  background-color: var(--dark-purple100) !important;
  font-family: "quicksand", sans-serif;
  font-weight: 600;
  border-radius: 0px 15px 15px 0px !important;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.15);
  padding-left: 1.3vw !important;
}

.tag-select:hover {
  background-color: var(--dark-purple70) !important;
  transition: 0.3s;
}

#triangle-icon {
  transform: translateY(8%);
}

.search-input {
  background-color: transparent;
  display: flex;
  flex: 1;
  border: none;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
  padding: 0;
  font-family: "quicksand", sans-serif;
  font-weight: 600;
  font-size: 22px;
  caret-color: var(--dark-purple100);
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

.search-input::placeholder {
  color: var(--dark-purple70);
  font-family: "quicksand", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.left-links > a,
.tags {
  font-family: "quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.tag-text {
  transform: translateY(50%);
}

.tags {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.tag-holder {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.magenta-tag,
.green-tag,
.blue-tag {
  margin-top: 2%;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  margin-right: 2%;
  box-shadow: var(--tag-shadow);
  white-space: nowrap;
  font-family: "quicksand", sans-serif;
  font-weight: 600;
  z-index: 5;
}

.magenta-tag {
  color: var(--tagsdark-magenta);
  background-color: var(--tagslight-magenta);
}

.green-tag {
  color: var(--tagsdark-green);
  background-color: var(--tagslight-green);
}

.blue-tag {
  color: var(--tagsdark-blue);
  background-color: var(--tagslight-blue);
}

.happenings-label {
  font-size: 6vh;
  margin-top: 7vh;
  margin-bottom: 2vh;
  margin-left: 4.5vw;
}

img {
  border-radius: 15px;
}

.scroll-bottom {
  position: fixed !important;
  min-height: 3.5vw;
  width: 3.5vw;
  margin: 1.3vw;
  border-radius: 14px !important;
  bottom: 0;
  right: 0;
  z-index: 5;
}
