.user-page {
  display: flex;
  flex-flow: row;
  gap: 2vw;
}

.profile {
  margin-left: 4vw;
  z-index: 2;
  top: 88px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;
  box-shadow: var(--modal-shadow);
  background-color: white;
  position: sticky;
  min-height: 660px;
  height: 80%;
  width: 20%;
  min-width: 360px;
  border-radius: 24px;
  padding: 24px;
  overflow-y: scroll;
}

.profile-picture {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.name {
  transform: translateY(-15px);
  line-height: 45px;
  word-break: break-all;
}

.icons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1vw;
}

.edit-button {
  padding: 8px 18px !important;
  background-color: var(--dark-purple100) !important;
  border-radius: 12px !important;
  color: white !important;
}

.calendar-button {
  padding: 6px !important;
  background-color: var(--dark-purple100) !important;
  border-radius: 12px !important;
}

.calendar-icon {
  stroke: white;
  width: 26px;
}

.edit-button:hover,
.calendar-button:hover {
  background-color: var(--dark-purple70) !important;
  transition: 0.3s;
  transform: scale(1.07) !important;
}

#profile-interests {
  width: 100%;
  transform: translate(-2%, -7%);
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
}

.profile-posters {
  width: 80%;
  height: 100%;
}

.tabs-list {
  background: rgba(249, 238, 255, 0.85);
  padding: 8px 1vw;
  top: 80px;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  gap: 12px;
}

.profile-tabs {
  font-size: 18px !important;
  color: var(--dark-purple100) !important;
  padding: 7.5px 20px !important;
}

.saved-grid,
.created-grid,
.drafts-grid {
  margin-top: 56px;
}
